{% extends "base.html" %}

{% block announce %}
<div class="md-banner-child">Try the new <strong>AxonOps Demo Sandbox</strong> to view and interact with a live Cassandra cluster</div>
<div class="md-banner-child"><a class="events_button" href="https://axonops.com/demo-sandbox/">Demo Sandbox Instant Access</a></div>
<div id="myNumber" style="visibility: hidden;"></div>
{% endblock %}

{% block hero %}
<img class="hero" src="https://cdn.prod.website-files.com/68921b0954714aae3436f191/68921bc0ae964dd61479807a_Hero-5.avif" alt="" width="100%" height="200" draggable="false">
<!-- <iframe src="https://player.vimeo.com/video/798782616?h=afa60e41ac" width="1080" height="180" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" data-lf-form-tracking-inspected-dzlr5a5zaxd8boq2="true" data-lf-yt-playback-inspected-dzlr5a5zaxd8boq2="true" data-lf-vimeo-playback-inspected-dzlr5a5zaxd8boq2="true"></iframe> -->
<!-- <div class="et_pb_code_inner et_multi_view_swapped" 
data-et-multi-view="{&quot;schema&quot;:{&quot;content&quot;:{&quot;desktop&quot;:&quot;
  <iframe src=\&quot;https:\/\/player.vimeo.com\/video\/798782616?h=afa60e41ac\&quot; width=\&quot;1080\&quot; height=\&quot;610\&quot; frameborder=\&quot;0\&quot; allow=\&quot;autoplay; fullscreen; picture-in-picture\&quot; allowfullscreen>
    <\/iframe>&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;phone&quot;:&quot;
    
    <iframe src=\&quot;https:\/\/player.vimeo.com\/video\/798782616?h=afa60e41ac\&quot; width=\&quot;1080\&quot; height=\&quot;180\&quot; frameborder=\&quot;0\&quot; allow=\&quot;autoplay; fullscreen; picture-in-picture\&quot; allowfullscreen>
      <\/iframe>&quot;}},&quot;slug&quot;:&quot;et_pb_code&quot;}" data-et-multi-view-load-tablet-hidden="true" data-et-multi-view-load-phone-hidden="true">
      
    </div> -->
{% endblock %}
