[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3'

[packages]
mkdocs = "1.2.3"
mkdocs-material = "8.2.5"
mkdocs-material-extensions = "1.0.3"
markdown = "3.3.0"
markdown-include = "0.6.0"
jinja2 = "3.0.0"
