[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3'

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocs-glightbox = "*"
mkdocs-video = "*"
markdown = "*"
markdown-include = "*"
jinja2 = "*"
requests = "*"
urllib3 = "*"
pymdown-extensions = "*"
mkdocs-graphviz = "*"
plantuml-markdown = "*"
